!!! 5
%head
  %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %meta(content='en-en' http-equiv='Content-Language')
  %meta(content='The Mince Pie Project' name='description')
  %title The Mince Pie Project
  %link(href='/css/styles.css' rel='stylesheet' type='text/css')
  %link(href="http://f.fontdeck.com/s/css/l4MsFun30OJhB9DTDGcb8JQSAOQ/localhost/13236.css" rel="stylesheet" type="text/css")
  %link(href="http://f.fontdeck.com/s/css/l4MsFun30OJhB9DTDGcb8JQSAOQ/themincepieproject.com/13236.css" rel="stylesheet" type="text/css")
  %link(href="http://f.fontdeck.com/s/css/l4MsFun30OJhB9DTDGcb8JQSAOQ/www.themincepieproject.com/13236.css" rel="stylesheet" type="text/css")
  %script(src='/js/ebay-auctions.js')
  /[if lt IE 9]
    %script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    %link(href='/css/ie.css' media='screen' rel='stylesheet' type='text/css')
  :javascript
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27488826-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

%body
  .container
    .sidebar
      %a(href="/")
        %img.logo(src="/images/logo.png")
      %h3.explanation
        A Mince Pie Auction.
        %br
        Starts 9th December.
      %p In support of
      %p.aah
        %a(href="http://www.actionagainsthunger.org/")
          %img(src="images/aah.png")
      %p.jof
        %a(href="http://www.jamieoliver.com/foundation/")
          %img(src="images/jof.png")
      %p.sharing
        <span class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_twitter_hcount' displayText='Tweet'></span>
        <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'f9c84a94-7638-45f3-b3be-dbf6ae4aaf23'});</script>
    .main
      %header
        %nav
          %ul
            %li
              %a(href="/about.html" class="#{active == 'about' ? 'active' : ''}") About
            %li
              %a(href="/chefs.html" class="#{active == 'chefs' ? 'active' : ''}") Chefs
            %li
              %a(href="/auction.html" class="#{active == 'auction' ? 'active' : ''}") The Auction
            %li
              %a(href="http://blog.themincepieproject.com") Blog
            %li
              %a(href="/partners.html" class="#{active == 'partners' ? 'active' : ''}") Partners
            %li
              %a(href="/charities.html" class="#{active == 'charities' ? 'active' : ''}") Charities
      .content
        = yield
    %footer
      %p
        %nav
          %a(href="/about.html") About
          |
          %a(href="/tc.html") Terms &amp; Conditions
          |
          %a(href="/contact.html") Contact

